<h1>Search for an album or an artist</h1>

<form action="/search">
  <input style="height: 50px; width: 100%; font-size: 40px;" type="text" name="search" id="search" placeholder="The Beatles">
  <input style="padding: 20px; font-size: 20px; margin: 10px 0px" type="submit" value="Search">
</form>

<% @results.each do |result|  %>
  <h1><%= result.name %></h1>
<% end %>